@media(max-width: 768px) {
    .header {
        padding: 50px 0 30px 0;
    }
    
    .container {
        flex-direction: column;
        gap: 50px;
    }

    .container .ilustracao {
        display: flex;
        margin: 0 auto;
    }

    .container .info {
        max-width: 768px;
        text-align: center;
        gap: 40px;
    }

    .container .text {
        max-width: 500px;
        align-self: center;
    }

    .container .info .btn {
        align-self: center;
    }

    .footer {
        justify-content: center;
    }

    .footer div {
        margin: 30px 0 30px 0;
    }
}

@media (max-width: 375px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
    }

    .header {
        padding: 0;
        margin: 0;
    }

    .header .logo {
        padding-left: 0;
        width: 140px;
    }

    .container .ilustracao {
        max-width: 320px;
        max-height: 210px;
    }

    .container .info {
        max-width: 320px;
        margin: 0 auto;
        gap: 10px;
    }

    .container .info .titulo {
        font-size: 24px;
    }

    .container .info .text {
        text-align: center;
        font-size: 17px;
    }

    .container .info .btn {
        margin-top: 20px;
        padding: 10px;
        font-size: 14px;
        color: var(--Primary-color);
    }

    .footer {
        margin-top: 60px;
    }

    .footer div {
        margin-bottom: 10px;
    }

    .footer div i {
        padding: 10px;
        font-size: 10px;
    }
}